<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.e.basevisual">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".root.App"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/rect4010"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rect4010"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity3.Activity3View"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".Activity1.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2.Activity2View"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity2_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity4.Activity4View"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5279710229097753~9694092502"/>
    </application>

</manifest>